<main>
    <header class="container-fluid">
        <div class="row">
            <div class="col-xs-10">
                <h1>Angular With Webpack</h1>
            </div>
            <div class="col-xs-2">
                <a routerLink="/login" class="exit">退出</a>
            </div>
        </div>
        
    </header>
    <nav class="menu">
        <div class="list-group">
            <a routerLink="/admin" routerLinkActive="active" class="list-group-item">test</a>
        </div>
    </nav>
    <section class="content">

    </section>
</main>